<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-dark ">
  <div class="container-fluid">
    <%= link_to 'COLLAB', root_path, class: 'navbar-brand btn' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon btn-sm"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
          <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="user-name"><%= current_user.name %></span>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"><%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link-drop text-white" %>
              <a class="dropdown-item"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link-drop text-danger" %>
            </div>
          </li>
          
            
          
          <% else %>
          
            <li class="nav-item"><%= link_to 'Login', login_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Signup', signup_path, class: "nav-link" %></li>
          
          <% end %>
       
      </ul>
      
      <%# <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>